@model Rental.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Detelhes</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLevantamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLevantamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoEmHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoEmHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoEmMinutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoEmMinutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmTransito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmTransito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rejeitada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rejeitada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Confirmado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.veiculo.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculo.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.veiculo.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculo.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AsMinhasReservas">Voltar</a>
</div>
