@model Rental.ViewModels.ReservaViewModel
@{
    //ViewData["Title"] = "Pedido Confirmacão";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
<h4>Reserva - Confirmação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div>
                @if (!String.IsNullOrEmpty(Model.veiculo.FotoURL))
                {
                    <img class="img-thumbnail" style="height:auto;width:100%" id="FotoURL" src="@Url.Content(Model.veiculo.FotoURL)" />
                }
                else
                {
                    <img class="img-thumbnail" style="height:100px;width:auto" id="FotoURL" src="@Url.Content("~/images/null.jpg")" />
                }
            </div>
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="DuracaoEmHoras" />
            <input type="hidden" asp-for="DuracaoEmMinutos" />
            <input type="hidden" asp-for="Custo" />
            <input type="hidden" asp-for="VeiculoId" />
            <input type="hidden" asp-for="ClienteId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Veiculo</label>
                <input type="text" class="form-control form-control-lg" readonly disabled value="@Model.veiculo.Marca" />
                <input type="text" class="form-control form-control-lg" readonly disabled value="@Model.veiculo.Modelo" />
            </div>
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" class="form-control form-control-lg" readonly disabled value="@Model.cliente.PrimeiroNome" />
            </div>
            <div class="form-group">
                <label asp-for="DataLevantamento" class="control-label"></label>
                    <input readonly type="text" asp-for="DataLevantamento" class="form-control" />
                <span asp-validation-for="DataLevantamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                    <input readonly type="text" asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>

            <div class="form-group pt-4">
                <p class="alert alert-info">
                    Este pedido de reserva tem um custo de <b>@Model.Custo €</b>.
                </p>
            </div>
            <div class="form-group">      
                <input type="submit" value="Confirmar Reserva" class="btn btn-success" />
                 <a class="btn btn-danger" asp-controller="Veiculos" asp-action="PesquisaInicial">Cancelar</a>
            </div>
        </form>
    </div>
</div>

}
