@model Rental.Models.EstadoVeiculo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EstadoVeiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Danos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Danos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observações)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observações)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reserva.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.funcionario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
