@{
}
@model List<Rental.ViewModels.ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Editar Roles do Utilizador";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@if (Model != null)
{
    <form method="post">
        <div class="card">
            <div class="card-header">
                <div class="row card-img mt-2 ms-2">
                    @if (ViewBag.Avatar == null)
                    {
                        <img class="img-thumbnail" style="height:100px;width:auto" id="MyAvatar" src="~/images/null.jpg" />
                    }
                    else
                    {
                        <img class="img-thumbnail" style="height:100px;width:auto" id="MyAvatar" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.Avatar))" />
                    }
                </div>
                <div class="mt-2 row">
                    <h4>@ViewBag.UserName</h4>
                </div>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].RoleId" />
                        <input type="hidden" asp-for="@Model[i].RoleName" />
                        <input asp-for="@Model[i].Selected" class="form-check-input" />
                        <label class="col-form-label" asp-for="@Model[i].Selected">@Model[i].RoleName</label>
                    </div>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
                <a asp-action="Index" class="btn btn-primary" style="width:auto">Cancel</a>
            </div>
        </div>
    </form>
}
else
{
    <p class="alert alert-warning  mb-3 mt-3 ">
        Lista Vazia
    </p>
}